<!DOCTYPE html>
<html>
<head>


</head>
<body>

<center><table>

  <tr>
     <td id="a3" onclick="myFunction(id)"></td>
     <td id="b3" onclick="myFunction(id)"></td>
     <td id="c3" onclick="myFunction(id)"></td>
  </tr>
  <tr>
     <td id="a2" onclick="myFunction(id)"></td>
     <td id="b2" onclick="myFunction(id)"></td>
     <td id="c2" onclick="myFunction(id)"></td>
  </tr>
  <tr>
     <td id="a1" onclick="myFunction(id)"></td>
     <td id="b1" onclick="myFunction(id)"></td>
     <td id="c1" onclick="myFunction(id)"></td>
  </tr>
</table></center>

<script>
function myFunction(id) {
      document.getElementById(id).innerHTML = "X";
}
</script>

</body>
</html>