<!DOCTYPE html>
<html>
<head>


</head>
<body>

<center><table>

  <tr>
     <td id="post_move" onclick="myFunction()"></td>
     <td id="post_move" onclick="myFunction()"></td>
     <td id="post_move" onclick="myFunction()"></td>
  </tr>
  <tr>
     <td id="post_move" onclick="myFunction()"></td>
     <td id="post_move" onclick="myFunction()"></td>
     <td id="post_move" onclick="myFunction()"></td>
  </tr>
  <tr>
     <td id="post_move" onclick="myFunction()"></td>
     <td id="post_move" onclick="myFunction()"></td>
     <td id="post_move" onclick="myFunction()"></td>
  </tr>
</table></center>

<script>
function myFunction() {
    document.getElementById("post_move").innerHTML = "X";
}
</script>

</body>
</html>