<!DOCTYPE html>
<html>
		<body class= "bggoldenrod">
		<center>
			<p><a href= "/twohumans">Play Human Against Human</a> </p>
			<p><a href="/leveloneHumanX">Play as X Against Easy Computer</a> </p>
			<p><a href="/leveloneHumanO">Play as O Against Easy Computer</a> </p>
			<p><a href="/leveltwoHumanX">Play as X Against A Medium-Strength Computer</a> </p>
			<p><a href="/leveltwoHumanO">Play as O Against A Medium-Strength Computer</a> </p>
			<p><a href="/levelthreeHumanX">Play as X Against An Unbeatable Computer</a> </p>
			<p><a href="/levelthreeHumanO">Play as O Against An Unbeatable Computer</a> </p>
		</center>
		</body>
</html>