<!DOCTYPE html>
<html>
		<body class= "bggoldenrod">
		<center>
			<p><a href= "/twohumans">Play Human Against Human</a> </p>
			<p><a href="/levelone">Play Against Easy Computer</a> </p>
			<p><a href="/leveltwo">Play Against Medium-Strength Computer</a> </p>
			<p><a href="/levelthree">Play Against Unbeatable Computer</a> </p>
		</center>
		</body>
</html>