<html>
	<head>
		<body class= "bggold">
		<link href="css/styles.css" rel="stylesheet">

<p class="detail"><i>The <span class="ultimate">ULTIMATE</span> Tic-Tac-Toe Machine !!!</i></p>

<center><a style="color:red" href='/'>Reset</a></center>
<br><br>

<%=yield%>

		</body>
	</head>
</html>