<center><h1>Welcome to the UNBEATABLE Tic Tac Toe!!!</h1><center>

<center><h1>Will you choose X or O?</h1><center>

<form method = post action="startgame(response)">
  <input type="text" name = "response">
  <input type="submit">
</form>