<center><h1>Enter a square:</h1><center>

<form method="post" action="humanX(move1)">
  <input type="text" name = "move1">
  <input type="submit">
</form>
  <input type ="hidden" name="freshgame" value ="<%= freshgame%>">
