H1 { text-align: center;
font-weight: bold;
color: green;
text-decoration: underline;
}



.color_blue{
color: blue;

}

.color_darkmagenta{
color: darkmagenta;

}

.color_goldenrod{
color: goldenrod;

}

.center{
text-align: center;

}

.bgsilver{
background-color: silver;

}


.bggoldenrod{
background-color: goldenrod;

}